<div class="row m-login__form-sub">
    <div class="col m--align-right">
        <a href="/forgotWorkspaceName?Continue=<%=Continue%>" class="m-link">
            Forgot WorkSpace Name ?
        </a>
    </div>
</div>
