<!-- views/partials/forgot-link.ejs -->
<div class="row m-login__form-sub">
    <div class="col m--align-right">
        <a href="/forgotPassword?Continue=<%=Continue%>" class="m-link">
            Forget Password ?
        </a>
    </div>
</div>
