<!-- views/partials/header.ejs -->

<div class="m-login__logo">
    <a href="#">
        <img src="http://cdn.cloudkibo.com/public/img/logo.png" style="max-width: 250px;">
    </a>
</div>
<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
                <%= heading %>
        </h3>
    </div>
</div>