<!-- views/partials/side.ejs -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(https://cdn.cloudkibo.com/public/assets/app/media/img//bg/bg-4.jpg)">
    <div class="m-grid__item m-grid__item--middle">
        <h3 class="m-login__welcome">
            Join KiboPush
        </h3>
        <p class="m-login__msg">
            Get connected with your facebook audience 
            <br>
            through push messages. Push surveys, polls, 
            <br>
            instant broadcasts to your Facebook subscribers.
        </p>
    </div>
</div>