<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    CloudKibo | Email Verification Successfull
  </title>
  <meta name="description" content="Latest updates and statistic charts">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--begin::Web font -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script type="text/javascript">
    // TODO add if env === production //if ("%NODE_ENV%" === "production") {
      window.__lo_site_id = 114153;
      (function() {
        var wa = document.createElement('script');
        wa.type = 'text/javascript';
        wa.async = true;
        wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wa, s);
      })();
  </script>
  <script>
    WebFont.load({
      google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
      active: function() {
        sessionStorage.fonts = true;
      }
    });
  function redirect()
    {
      var pass = document.getElementById("newpassword").value;
      var retype = document.getElementById("retypepassword").value;
      if (pass.length <= 6) {
        document.getElementById("d1").innerHTML = "Length of password should be greater than 6 "
        document.getElementById("one").innerHTML = ""
        document.getElementById("two").innerHTML = ""
      }
      else if (pass != retype) {
        document.getElementById("d1").innerHTML = "Passwords do not match. Please re-enter passwords"
        document.getElementById("one").innerHTML = ""
        document.getElementById("two").innerHTML = ""
      }
      else {
        document.getElementById("d1").innerHTML = ""
        document.getElementById("one").innerHTML = ""
        document.getElementById("two").innerHTML = ""
        var url = document.URL;
        var res = url.split("/");
        var data1 = {"token": res[res.length-1].toString(), "new_password": pass};
        $.ajax({
          url : '/api/v1/reset_password/reset',
          type : 'POST',
          data : {
            'token' : res[res.length-1].toString(),
            'new_password': pass
          },
          dataType:'json',
          success : function(data) {
            document.getElementById("one").innerHTML = "Success! Password changed successfully. Please login to continue"
            window.location.href = "/";
          },
          error : function(request,error)
          {
            var response = JSON.parse(request.responseText)
            document.getElementById("two").innerHTML = JSON.stringify(response.description)
          }
        });
      }
    }
  </script>
  <style>
    img.normal {
    width: 250px;
    }
    #d1 {
        color: red;
    }
    #one {
        font-weight: bold;
    }
    #two {
        color: red;
    }
    .myStyle {
        color: red;
    }
    #m_login_signup_submit{
      margin: auto;
      display: block;
      align: right;
}
</style>
  <!--end::Web font -->
  <!--begin::Base Styles -->
  <link href="http://cdn.cloudkibo.com/public/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
  <link href="http://cdn.cloudkibo.com/public/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Base Styles -->
  <link rel="shortcut icon" href="http://cdn.cloudkibo.com/public/assets/demo/default/media/img/logo/favicon.ico" />
  <!--end::Web font -->

</head>
<!-- end::Head -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper">
            <div class="m-login__logo">
              <a href="/">
                <img class="normal" src="http://cdn.cloudkibo.com/public/img/logo.png">
              </a>
            </div>
            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Reset Password
                </h3>
              </div>
              <br  />
                <div class="form-group m-form__group">
                  <input id="newpassword" class="form-control m-input" type="password" placeholder="Password" ref="password" required style={{ WebkitBoxShadow: "none", boxShadow: "none", height: "45px" }}
                    />
                </div>
                <div class="form-group m-form__group">
                  <input id="retypepassword" class="form-control m-input" type="password" placeholder="Retype Password" ref="password" required style={{ WebkitBoxShadow: "none", boxShadow: "none", height: "45px" }}
                    />
                </div>
                <div class="form-group m-form__group">
                  <div id='d1' style={{color: 'red'}}></div>
                </div>
                <br />
              <div class="m-login__form-action" id="btn">
                <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" onClick="redirect()">
                  Change Password
                </button>
              </div>
              <br />
              <div id="one">
              </div>
              <div id="two">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(http://cdn.cloudkibo.com/public/assets/app/media/img/bg/bg-4.jpg)">
      <div class="m-grid__item m-grid__item--middle">
        <h3 class="m-login__welcome">
          Join KiboPush
        </h3>
        <p class="m-login__msg">
          Get connected with your facebook audience through push messages.
          <br />
          Push surveys, polls, instant broadcasts to your Facebook subscribers.
        </p>
      </div>
    </div>
  </div>
</div>





<!-- begin::Quick Nav -->
<!--begin::Base Scripts -->
<script src="http://cdn.cloudkibo.com/public/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="http://cdn.cloudkibo.com/public/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Vendors -->
<!--end::Page Vendors -->
<!--begin::Page Snippets -->
<script src="http://cdn.cloudkibo.com/public/assets/snippets/pages/user/login.js" type="text/javascript"></script>
<!--end::Page Snippets -->


</body>
</html>
