<!-- views/page/verificationSuccess.ejs -->

<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper">
            <div class="m-login__logo">
              <a href="#">
                <img class="normal" src="http://cdn.cloudkibo.com/public/img/logo.png" style="max-width: 250px;">
              </a>
            </div>
            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  KiboPush - Email Verification Successful
                </h3>
              </div>
              <br />
              <label class="m-login__account-msg">
                You have successfully verified your email address. Please login to continue.
              </label>
              <br /> <br />
              <div class="m-login__form-action" id="btn">
                <a href='/' class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                  Login
                </a>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1 m-login__content" style="background-image: url(http://cdn.cloudkibo.com/public/assets/app/media/img/bg/bg-4.jpg)">
    <div class="m-grid__item m-grid__item--middle">
      <h3 class="m-login__welcome">
        Join KiboPush
      </h3>
      <p class="m-login__msg">
        Get connected with your facebook audience through push messages.
        <br />
        Push surveys, polls, instant broadcasts to your Facebook subscribers.
      </p>
    </div>
  </div>
</div>
<!-- end:: Page -->
